AspnetReactHotReload.userprefs
src/AspnetReactHotReload/bin
src/AspnetReactHotReload/obj
src/AspnetReactHotReload/node_modules
src/AspnetReactHotReload/project.lock.json
src/AspnetReactHotReload/wwwroot
